.sendForm {
}

.textarea {
  width: 976px;
  height: 40px;
  left: 70px;
  top: 432px;

  background: #f5f7fb;
  box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
  border-radius: 20px;
}

.button {
  width: 120px;
  height: 40px;
  left: 1090px;
  top: 432px;

  background: #0066cc;
  border-radius: 20px;

  width: 43px;
  height: 20px;
  left: 1128px;
  top: 442px;

  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  border: none;
}

.button:hover {
}
.button:active {
}
